{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search Result{% endblock title %}
    
{% block main-content %}
<div class="container my-5">
    <div class="row">
        
        <div class="col-sm-2 border-end" >
            <ul class="list-unstyled">
                <li class="d-grid"><a class="btn btn-primary"style="background-color: #ff7200";>Wishlist</a></li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="row">
                {% for prod in product %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-4" >
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'product-detail' prod.product.id %}" class="btn">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img src="{{prod.product.product_image.url}}" class="image0 card-img-top img-fluid aspect-ratio" style="height: 200px; object-fit: cover;"/>
                            <!-- Product details-->
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{prod.product.title}}</h5>
                                <div class="card-text">
                                    <span class="text-muted text-decoration-line-through">{{prod.product.selling_price}} MAD</span><br>
                                    <strong class="ms-2 text-danger"> {{prod.product.discounted_price}} MAD</strong>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}